body {
  margin: 5;
  padding: 5;
  overflow: hidden;
}

.moving-background {
  width: 100%;
  height: 100vh;
  background-image: url("https://th.bing.com/th/id/OIP.sqcZhopetzuiPGjRJCnQOwHaHW?rs=1&pid=ImgDetMain");
  background-size: cover;
  background-repeat: repeat-x;
  animation: moveBackground 7s linear alternate infinite;
  animation-duration: 10s;
}

@keyframes moveBackground {
  from {
    background-position: 50 center;
  }
  to {
    background-position: -100vw center;
  }
}
